body {
	background-color: yellow }

h1 {
	font-family: URW Chancery L;
	color:;
	text-align: center;}

h3 {
	font-family: MathJax_Script;
	color:#CC6600;
	text-align:;}






p {
	font-size: 14pt;
	font-family: Comic Sans MS;
	color: #0066CC;}
